* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --color-azul: #0e61b9;
}

.grid-container {
    background-color: rgb(0, 0, 0);
    width: 30%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "navbar navbar navbar"
    "section section aside"
    "article article aside"
    "footer footer footer";
}

.header {
    background-color: var(--color-azul);
    grid-area: header;
    margin: 0.8rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.navbar {
    grid-area: navbar;
    background-color: aquamarine;
    margin-top: 0;
    margin: 0.8rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    grid-area: section;
    background-color: yellow;
    margin-top: 0;
    margin: 0.8rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    grid-area: article;
    background-color: rgb(230, 111, 13);
    margin-top: 0;
    margin: 0.8rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    grid-area: aside;
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    margin: 0.8rem;
    height: 21.55rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside h1 {
    transform: rotate(-90deg);
}

.footer {
    background-color: var(--color-azul);
    grid-area: footer;
    margin-top: 0;
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

@media (max-width: 1000px) {
    .grid-container {
        width: 40%;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "header"
        "navbar"
        "section"
        "article"
        "aside"
        "footer"
        ;
    }

    .header .footer .navbar {
        height: 3rem;
    }

    .section {
        height: 6rem;
    }

    .article {
        height: 6rem;
    }

    .aside {
        height: 15rem;
    }

    .aside h1 {
        transform: rotate(0deg);
    }

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
